<html>

<h1> Dice Roll </h1>

<body>
  <form action= "/process_roll">
    
    <label for="number_of_dices"> Number of dice to roll?</label> 
    <input id="number_of_dices" type="text" name="dice">

    <label for="number_of_sides"> How many sides per die?</label>
    <input id="number_of_sides" type="text" name="sides">

    <button>Roll!</button>
  </form>
</body>

</html>
