<!DOCTYPE html>
<html>

<h1><%= @num_dice %>d<%= @num_sides %></h1>


<div><a href="/">Go back home</a></div>

<ol>
  <% @rolls.each do |a_roll| %>
    <li> Result: 
      <%= a_roll %>
    </li>
  <% end %>
</ol>

</html>
